<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.JoyBox.Shefaa">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />


    <application
        android:name="com.joyBox.shefaa.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<meta-data-->
        <!--android:name="com.google.android.geo.API_KEY"-->
        <!--android:value="AIzaSyCsTDgYnbGnTIlkOqCAfGcANLlg_9ipeG0" />-->

        <!--<meta-data-->
        <!--android:name="com.google.android.geo.API_KEY"-->
        <!--android:value="AIzaSyDOL3DZKbjWEcLxSarq1_LXoLM_B4YW9bM" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAbTRgO8FsaOZ_410l83nQb5G1-OhEdXo" />

        <activity android:name="com.joyBox.shefaa.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.joyBox.shefaa.activities.SignInActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.SignUpActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.ForgotPasswordActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MainActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.NotificationsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MessagesActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MessageDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MessageReplayActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.PatientProfileActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.AppointmentListPatientActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.MyMedicalProfileActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.PrescriptionDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MagazinePostsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MagazinePostsDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MagazinePostCommentsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.DoctorSearchActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.AppointmentDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.TestResultAddActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.AdvanceSearchActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.DoctorDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.AppointmentAddActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.DashBoardActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.AppointmentReserveActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.GuardianshipActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.SelfMonitorActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.MedicineAndPotionReminderActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MagazinePostCommentAddActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.SelfMonitorAddActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.GuardianshipAddActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.ChangeEmailActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.ChangePasswordActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.PharmacySearchActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.PharmacyDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.LabSearchActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.MessageAddActivity">

        </activity>


        <activity android:name="com.joyBox.shefaa.activities.doctor.DoctorDashBoardActivity">

        </activity>


        <activity android:name="com.joyBox.shefaa.activities.doctor.DoctorProfileActivity">

        </activity>
        <activity android:name="com.joyBox.shefaa.activities.doctor.DoctorAppointmentActivity">

        </activity>
        <activity android:name="com.joyBox.shefaa.activities.doctor.DoctorAddPrescriptionActivity">

        </activity>


        <activity android:name="com.joyBox.shefaa.activities.autoComplete.DoctorAutoCompleteActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.LocationCheckActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.LocationPickupActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.TestsResultDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.LabDetailsActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.autoComplete.GuardianshipAutoCompleteActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.patient.AddReminderActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.autoComplete.UserAutoCompleteActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.doctor.MyPatientProfileActivity">

        </activity>

        <activity android:name="com.joyBox.shefaa.activities.doctor.DoctorAppointmentDetailsActivity">

        </activity>

    </application>


</manifest>
